<html>
    <html lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>成绩管理</title>
        <link rel="stylesheet" href="/contrib/animate_4_1_1.min.css" />
        <link href="/components.css" rel="stylesheet" />
        <link href="/base.css" rel="stylesheet" />
        {% block styles %}{% endblock%}
        <script>
            function checkActive(el) {
                console.log(1111, el.href);
                return document.location.pathname.startsWith(el.href);
            }
        </script>
    </head>

    <body>
        <div class="page-head">
            <img class="logo" src="/logo_256.png" />
            <div class="title">成绩管理系统</div>
        </div>
        <div class="page-body">
            <div class="sidebar">
                <ul>
                    <li {% if location.pathname.startswith("/student") %}active{% endif %}>
                        <a href="/student">学生</a>
                    </li>
                    <li {% if location.pathname.startswith("/course") %}active{% endif %}>
                        <a href="/course">课程</a>
                    </li>
                    <li {% if location.pathname.startswith("/grade") %}active{% endif %}>                    
                        <div  class="menu_btn_v">成绩
                            <div class="menu_item_v trans_fadeout">
                                <a href="/grade">成绩登记</a>
                            </div>
                            <div  class="menu_item_v trans_fadeout">
                                <a href="grade">成绩查询</a>
                            </div>
                        </div>
                    </li>  
                    </ul>
                     
            </div>
            <div class="page-content">
                {% block page_content %}{% endblock %}
                <div class="page-footer">&copy;天津工业大学 2020</div>
            </div>
        </div>
    </body>
</html>
